@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Lato&family=Open+Sans&family=Oswald&display=swap');

.P1{
    font-family: 'Lato', sans-serif;
}

.P2{
    font-family: 'Lato', sans-serif;
}

.P3{
    font-family: 'Indie Flower', cursive;
}

.P4{
    font-family: 'Oswald', sans-serif;
}